/*
Flaticon icon font: Flaticon
Creation date: 30/12/2019 19:54
*/

@font-face {
  font-family: 'Flaticon';
  src: url('../assets/fonts/flaticon/Flaticon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fi:before {
  display: inline-block;
  font-family: 'Flaticon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-youtube:before {
  content: '\f100';
}
